@import '__design/settings';
@import '__design/tools';

.login-options {
  display: grid;
  padding-top: rem(20);
  row-gap: rem(32);

  &__title {
    text-align: center;
  }

  &__list {
    color: $color__basic-600;
    column-gap: rem(32);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  &__item {
    cursor: pointer;
    height: rem(20);
    width: rem(20);
  }

  &__register {
    column-gap: rem(5);
    display: grid;
    grid-template-columns: auto auto;
  }
}
