@import '__design/settings';
@import '__design/tools';

.login {
  @include medium-screen {
    padding: rem(40);
  }

  &__section {
    background-color: $color__basic-100;
    border: rem(1) solid $color__basic-400;
    border-radius: rem(4);
    display: grid;
    justify-items: center;
    padding: rem(16) rem(24);
    row-gap: rem(12);
  }

  &__label {
    font-weight: $font-weight__light;
  }
}
